body {background-color: black;
    font-family: 'Oswald';
}
nav {font-family: 'Roboto';
}
.txtlogo {font-size: xx-large;
}
.logoviajes {
    width: 3rem;
}
.textoqs {margin: 2rem;
    color: white;
    text-align: justify;
}
.icon {text-align: center;;
}
